body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
}

.info {
  margin-top: 30px;
  font-size: 20px;
  line-height: 2;
}
